<% provide(:title, "Edit your profile") %>
<h1>Update your profile</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages' %>

      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :status, "Update your status!" %>
      <%= f.text_field :status, class: 'form-control' %>

      <%= f.label :description, "Write something about yourself!" %>
      <%= f.text_area :description, class: 'form-control' %>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control',
                                      placeholder: "Leave blank to keep your password unchanged"%>

      <%= f.label :password_confirmation, "Confirm password" %>
      <%= f.password_field :password_confirmation, class: 'form-control',
                                                   placeholder: "Leave blank to keep your password unchanged"%>

      <%= f.submit "Save changes", class: "btn btn-success" %>
    <% end %>

    <%= link_to "Cancel and go back to your profile", user_path(@user) %>
  </div>
</div>
